 .login {
      background: url('../images/backgound.jpg') no-repeat center;
      background-size: 100%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
  }
 
 .align-center {
    margin: 0 auto;
    text-align: center;
 }

.loginButton {
      font-size: 50px;
      color : aliceblue;
      text-align: center;
}
.loginButton{
      font-size: 50px;
      color : aliceblue;
      text-align: center;
}
  
.profile-header-container {
  text-align: center;
  margin-top: 10%;
}
.profile-header-container img {
border-radius: 50%;
width: 150px;
 }

.dashboard {
  background: rgb(237,237,240) no-repeat center;
      background-size: 100%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
}

.loader {
  width: 100%;
  height: 100%;
  background-color:transparent;
  box-shadow:none;
}
.leave-status {
  background-color: rgb(63,81,181);
  color: white;
  width: 25%;
  padding: 10px;
  font-weight: bolder;
}
.login-div {
  margin: 50px auto; 
  text-align: center;
  background-color: rgb(63,81,181);
  color: white;
  width: 20%;
  padding: 10px;
  font-weight: bolder;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}
.leave-status-bar{
  margin: 50 auto;
  text-align: center;
  padding :10px;
  
}
md-menu-bar {
  z-index: 100;  
}