<div id="dashboard" >
    
    <div class="leave-status-bar">
        <p class="leave-status"><i class="material-icons">event</i> &nbsp; 14 Remaining Leaves </span> &nbsp; <span class="leave-status"><i class="material-icons">event</i> &nbsp; 7 Remaining Annual Leave</span> <span class="leave-status"><i class="material-icons">event</i> &nbsp; 7 Remaining Sick Leave</p>
      </p>
    </div>
    
    
<div class="align-center">
  
  <canvas class="chart chart-line align-center" width="800px" height="400"  chart-data="data" chart-labels="labels"  chart-options="options"  chart-series="series" chart-click="onClick"> </canvas> 
  <div layout="row" layout-align="center center">
      <h2>Zara Mobility Services</h2>
  </div>
</div>

</div>