 <md-sidenav class="md-sidenav-left md-whiteframe-z2 "
        md-component-id="left" >
   
    <md-content layout-padding="" class="sideContent" >
       <div class="profile-header-container">   
                <img ng-src="{{user.photoURL}}"  />
        </div>
        <div>
          <p>{{user.email}}</p>
        </div>
    <md-list>
      <md-subheader class="md-no-sticky">Add Leave</md-subheader>
        <md-list-item class="md-3-line"  ng-click="null" ui-sref="app.annualForm">
          <md-icon class="md-avatar" > create </md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Annual Form</h3>
          </div>
        </md-list-item>
        
        <md-list-item class="md-3-line" ng-click="null">
          <md-icon class="md-avatar" > create </md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Sick Form</h3>
          </div>
        </md-list-item>
      <md-divider></md-divider>
      
       <md-subheader class="md-no-sticky">Leave List</md-subheader>
        <md-list-item class="md-3-line" ng-click="null">
          <md-icon class="md-avatar" > assignment </md-icon>
          <div class="md-list-item-text" layout="column">
            <h3> Approved Annual</h3>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
          
          <md-icon class="md-avatar" > assignment </md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Approved Sick</h3>
          </div>
        </md-list-item>
        
 </md-list>
 
    </md-content> 
</md-sidenav>

 <md-content class="dashboard" >
   <header>
     <md-toolbar md-scroll-shrink >
    <div class="md-toolbar-tools" >
       <md-button class="md-icon-button"  ui-sref="app.dashboard">
          <md-tooltip>Home</md-tooltip>
          <md-icon class="md-default-theme">home</md-icon>
        </md-button>
       <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
          <md-tooltip>Side Panel</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
        </md-button>
      <h3>
        Annual Leave Portal
      </h3>
          <md-menu>
      <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
        <md-icon class="md-default-theme" >chat</md-icon>
      </md-button>
      <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        <md-menu-item >
          <md-button >
            Setting
          </md-button>
        </md-menu-item>
          <md-menu-item >
          <md-button ng-click="logout()">
           Logout
          </md-button>
        </md-menu-item>
    </md-menu>

    </div>
 
  </md-toolbar>
   </header>
   <section>
      <br />
      <br />
      <br />
      <div ui-view="menuContent"></div>
      <br />
      <br />
      <br />
  </section> 
 
 </md-content>
<footer >
        <md-toolbar class="md-scroll-shrink">
          <div layout="row" layout-align="center center" flex>
           Zara Mobility Services
          </div>
        </md-toolbar>
</footer>
